<div class="header bg-gradient-danger pb-6 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col pb-1">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row">
            <div class="col-lg-12">
              <form novalidate (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="dateIFilter">Fecha</label>
                      <input type="date" required="required" id="dateIFilter" name="dateIFilter" [(ngModel)]="dateFilterString" [value]="dateFilterString" class="form-control form-control-alternative" />
                      <span *ngIf="noValidDate" class="form-text text-danger">
                        {{noValidDateMsg}}
                      </span>
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="branchFilter">Sucursal</label>
                      <select name="branchFilter" [(ngModel)]="filterParams.branchId" class="form-control form-control-alternative" >
                        <option *ngFor="let b of branches" class="dropdown-item" [value]="b.id">{{b.name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-2">
                    <div class="form-group">
                      <label class="form-control-label" for="estatusFilter">Estatus</label>
                      <select name="estatusFilter" ngModel class="form-control form-control-alternative">
                        <option class="dropdown-item" value="" selected>-- Todos --</option>
                        <option class="dropdown-item" value="P">No revisados</option>
                        <option class="dropdown-item" value="R">Revisados</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-2 text-right">
                    <br><br>
                    <button type="submit" class="btn btn-sm btn-primary" >
                      <i _ngcontent-usi-c107="" class="fa fa-search"></i>
                      Buscar
                    </button>
                  </div>
                </div>
            </form>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <a href="javascript:void(0)" *ngIf="!isCollapsedAll && branchCashControlLst!=null && branchCashControlLst.length>0" (click)="collapsedAll(true)">
                <span style="font-family:Open Sans, sans-serif; font-size: small;">Colapsar todo</span>
              </a>
              <a href="javascript:void(0)" *ngIf="isCollapsedAll && branchCashControlLst!=null && branchCashControlLst.length>0" (click)="collapsedAll(false)">
                <span style="font-family:Open Sans, sans-serif; font-size: small;">Expandir todo</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngFor="let item of branchCashControlLst">
    <div class="col pb-1">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row ">
            <div class="col">
              <li style="list-style-type: none;">
                <a href="javascript:void(0)" *ngIf="!collapsedBranchItemLst[item.branchId]" (click)="collapsedBranchItemLst[item.branchId]=true">
                  <i class="fas fa-angle-up"> </i>
                  <span style="font-family:Open Sans, sans-serif;"> {{item.name}}</span>
                </a>
                <a href="javascript:void(0)" *ngIf="collapsedBranchItemLst[item.branchId]" (click)="collapsedBranchItemLst[item.branchId]=false">
                  <i class="fas fa-angle-down"> </i>
                  <span style="font-family:Open Sans, sans-serif;"> {{item.name}}</span>
                </a>
              </li>
            </div>
            <div class="col text-right" >
              <div class="custom-control custom-control-alternative custom-checkbox">
                <input *ngIf="item.status=='R'" class="custom-control-input" id="customCheckRegister" type="checkbox" (click)="CambiarEstatus($event.target.checked, item.id)" checked >
                <input *ngIf="item.status=='P'" class="custom-control-input" id="customCheckRegister" type="checkbox" (click)="CambiarEstatus($event.target.checked, item.id)" >
                <label class="custom-control-label" for="customCheckRegister">
                  <span class="text-muted">Marcar como revisado</span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="table-responsive" *ngIf="!collapsedBranchItemLst[item.branchId]">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col" class="text-right">Calculado en sistema</th>
                <th scope="col" class="text-right">Reportado en sucursal</th>
                <th scope="col" class="text-right">Diferencia</th>
                <th scope="col"></th>
                <th scope="col" class="text-center">Información Adicional</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span *ngIf="item.semaphoreEntry=='green'" class="text-success">
                    <i class="fas fa-circle"></i>
                  </span>
                  <span *ngIf="item.semaphoreEntry=='yellow'" class="text-yellow">
                    <i class="fas fa-circle"></i>
                  </span>
                  <span *ngIf="item.semaphoreEntry=='red'" class="text-danger">
                    <i class="fas fa-circle"></i>
                  </span>
                </td>
                <td>
                  <span class="mb-0 text-sm">Entrada</span>
                </td>
                <td class="text-right">
                  <span class="mb-0 text-sm">{{item.calcEntry | currency:'MXN'}}</span>
                </td>
                <td class="text-right">
                  <span class="mb-0 text-sm">{{item.entry | currency:'MXN'}}</span>
                </td>
                <td class="text-right">
                  <span class="mb-0 text-sm">{{ (item.calcEntry - item.entry) | currency:'MXN'}}</span>
                </td>
                <td class="text-right">
                  <a href="javascript:void(0)" (click)="getEntryDetails(item.branchId,item.name,item.dateOfSale)">Ver detalle</a>
                </td>
                <td rowspan="3"  class="text-center">
                  <span>{{item.adicionalInfo}}</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span *ngIf="item.semaphoreSales=='green'" class="text-success">
                    <i class="fas fa-circle"></i>
                  </span>
                  <span *ngIf="item.semaphoreSales=='yellow'" class="text-yellow">
                    <i class="fas fa-circle"></i>
                  </span>
                  <span *ngIf="item.semaphoreSales=='red'" class="text-danger">
                    <i class="fas fa-circle"></i>
                  </span>
                </td>
                <td>
                  <span class="mb-0 text-sm">Venta</span>
                </td>
                <td  class="text-right">
                  <span class="mb-0 text-sm">{{(item.previousResidue + item.calcEntry - item.residue) | currency:'MXN'}}</span>
                </td>
                <td  class="text-right">
                  <span class="mb-0 text-sm">{{item.selled | currency:'MXN'}}</span>
                </td>
                <td  class="text-right">
                  <span class="mb-0 text-sm">{{((item.previousResidue + item.calcEntry - item.residue)-item.selled) | currency:'MXN'}}</span>
                </td>
                <td class="text-right">
                  <a href="javascript:void(0)" (click)="getSalesDetails(item.branchId, item.previousResidue, item.calcEntry, item.name, item.dateOfSale, item.residue, item.selled, item.id)">Ver detalle</a>
                </td>
              </tr>
              <tr>
                <td>
                  <span *ngIf="item.semaphoreResidue=='green'" class="text-success">
                    <i class="fas fa-circle"></i>
                  </span>
                  <span *ngIf="item.semaphoreResidue=='yellow'" class="text-yellow">
                    <i class="fas fa-circle"></i>
                  </span>
                  <span *ngIf="item.semaphoreResidue=='red'" class="text-danger">
                    <i class="fas fa-circle"></i>
                  </span>
                </td>
                <td>
                  <span class="mb-0 text-sm">Saldo</span>
                </td>
                <td class="text-right">
                  <span class="mb-0 text-sm">{{(item.previousResidue + item.calcEntry - item.selled) | currency:'MXN'}}</span>
                </td>
                <td class="text-right">
                  <span class="mb-0 text-sm">{{item.residue | currency:'MXN'}}</span>
                </td>
                <td class="text-right">
                  <span class="mb-0 text-sm">{{((item.previousResidue + item.calcEntry - item.selled)-item.residue) | currency:'MXN'}}</span>
                </td>
                <td class="text-right">
                  <a href="javascript:void(0)" (click)="getResidueDetails(item.branchId, item.previousResidue, item.calcEntry, item.name, item.dateOfSale, item.selled, item.residue)">Ver detalle</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal Detalle Entradas -->
  <div class="modal" id="entrysModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Enviado a sucursal {{branchName}} el {{dateOfCapture | date: 'EEEE, d MMM, y'}}</h5>
          <button type="button" class="close" (click)="closeModal('entrysModal')" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span *ngIf="productSentLst.length==0" >No hay registros para mostrar</span>

          <div class="table-responsive" *ngIf="productSentLst.length!=0 && !editProductSent" >
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">PRODUCTO</th>
                  <th scope="col">KILOS</th>
                  <th scope="col">PIEZAS</th>
                  <th scope="col">CAJAS</th>
                  <th scope="col">MONTO</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tfoot>
                <tr class="bg-gray">
                  <td colspan="4" class="text-white"><b>Total</b></td>
                  <td class="text-white"><b>{{getTotalEntrys() | currency:'MXN'}}</b></td>
                  <td>&nbsp;</td>
                </tr>
              </tfoot>
              <tbody>
                <tr *ngFor="let item of productSentLst">
                  <td>
                    <span class="mb-0 text-sm">{{item.description}}</span>
                  </td>
                  <td>
                    {{item.kilograms}}
                  </td>
                  <td>
                    {{item.pieces}}
                  </td>
                  <td>
                    {{item.boxes}}
                  </td>
                  <td>
                    {{item.amount | currency:'MXN'}}
                  </td>
                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="javascript:void(0)" (click)="openEditProductSent(item.id, item.selled, item.residue)">Editar</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <form  *ngIf="editProductSent" novalidate (ngSubmit)="onSubmitEditProductSent(frm)" #frm="ngForm">
            <div class="pl-lg-4">
              <hr>
              <div class="row">
                <div class="col-lg-12">
                  <input type="hidden" id="hdnIdProductSent" value="" [(ngModel)]="productSentToEdit.id">
                  <div class="form-group">
                    <label class="form-control-label" for="select-meat-type">Producto</label>
                    <input type="text" required="required" min="0.1" disabled
                    [(ngModel)]="productSentToEdit.description"
                    name="productoNameEdit" id="productoNameEdit" class="form-control form-control-alternative"
                    placeholder="" value="" >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-kilograms">Kilos</label>
                    <input type="number" required="required" min="0.1"
                    [(ngModel)]="productSentToEdit.kilograms" [disabled]="disabledKilograms"
                    name="kilograms" id="kilograms" class="form-control form-control-alternative"
                    placeholder="0" value="" >
                    <span *ngIf="noValidKilograms" class="form-text text-danger">
                      {{noValidKilogramsMsg}}
                    </span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-pieces">Piezas</label>
                    <input type="number" required="required" min="0.1"
                    [(ngModel)]="productSentToEdit.pieces" [disabled]="disabledPieces"
                    name="pieces" id="pieces" class="form-control form-control-alternative"
                    placeholder="0" value="">
                    <span *ngIf="noValidPieces" class="form-text text-danger">
                      {{noValidPiecesMsg}}
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-boxes">Cajas</label>
                    <input type="number" required="required" min="0.1"
                    [(ngModel)]="productSentToEdit.boxes" [disabled]="disabledBoxes"
                    name="boxes" id="boxes" class="form-control form-control-alternative"
                    placeholder="0" value="">
                    <span *ngIf="noValidBoxes" class="form-text text-danger">
                      {{noValidBoxesMsg}}
                    </span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-amount">Monto $</label>
                    <input type="number" required="required" min="0.1"
                    [(ngModel)]="productSentToEdit.amount"
                    name="amount" id="amount"  class="form-control form-control-alternative"
                    placeholder="0.00" value="">
                    <span *ngIf="noValidAmount" class="form-text text-danger">
                      {{noValidAmountMsg}}
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 text-right">
                  <button type="submit" class="btn btn-sm btn-primary">
                    <i _ngcontent-usi-c107="" class="fa fa-check"></i>
                    Listo
                  </button>
                </div>
              </div>
              <hr>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" *ngIf="!editProductSent"  (click)="closeModal('entrysModal')" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary btn-sm" *ngIf="productSentLst.length!=0 && !editProductSent">Guardar cambios</button>
          <!-- <button type="button" class="btn btn-primary btn-sm" *ngIf="productSentLst.length!=0 && editProductSent" (click)="editProductSent=false">Listo</button> -->
        </div>
      </div>
    </div>
  </div>

   <!-- Modal Detalle Ventas -->
   <div class="modal" id="salesModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ventas de sucursal {{branchName}} el {{dateOfCapture | date: 'EEEE, d MMM, y'}}</h5>
          <button type="button" class="close" *ngIf="!editResidue" (click)="closeModal('salesModal')" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span *ngIf="productSentLst.length==0" >No hay registros para mostrar</span>

          <div class="table-responsive" *ngIf="productSentLst.length!=0 && !editSelled" >
            <table class="table align-items-center table-flush">
              <!-- <thead class="thead-light">
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead> -->
              <tfoot>
                <tr class="bg-gray">
                  <td class="text-white">=</td>
                  <td class="text-white"><b>Total Venta Calculada</b></td>
                  <td class="text-white"><b>{{getTotalSales() | currency:'MXN'}}</b></td>
                </tr>
                <tr>
                  <td ><i _ngcontent-usi-c107="" class="fa fa-minus"></i></td>
                  <td >Venta Reportada</td>
                  <td >{{selled | currency:'MXN'}}</td>
                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="javascript:void(0)" (click)="openEditSelled()">Editar</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr style="background-color: #f6f9fc;">
                  <td >=</td>
                  <td ><b>Diferencia</b></td>
                  <td ><b>{{(getTotalSales() - selled) | currency:'MXN'}}</b></td>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td>
                  </td>
                  <td>
                    <span class="mb-0 text-sm">Saldo anterior</span>
                  </td>
                  <td>
                    {{previousResidue | currency:'MXN'}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <i _ngcontent-usi-c107="" class="fa fa-plus"></i>
                  </td>
                  <td>
                    <span class="mb-0 text-sm">Entradas</span>
                  </td>
                  <td>
                    {{calcEntry | currency:'MXN'}}
                  </td>
                </tr>
                <tr>
                  <td style="background-color: #f6f9fc;">
                    <span class="mb-0 text-sm">=</span>
                  </td>
                  <td style="background-color: #f6f9fc;">
                    <b>
                      Total inventario
                    </b>
                  </td>
                  <td style="background-color: #f6f9fc;">
                    <b>
                    {{(previousResidue + calcEntry) | currency:'MXN'}}
                    </b>
                  </td>
                </tr>
                <tr>
                  <td>
                    <i _ngcontent-usi-c107="" class="fa fa-minus"></i>
                  </td>
                  <td>
                    <span class="mb-0 text-sm">Saldo Reportado</span>
                  </td>
                  <td>
                    {{residue | currency:'MXN'}}
                  </td>

                </tr>
              </tbody>
            </table>
          </div>


          <form  *ngIf="editSelled" novalidate (ngSubmit)="onSubmitEditSelled(frmSelled)" #frmSelled="ngForm">
            <div class="pl-lg-4">
              <hr>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="select-meat-type">Nuevo Venta Reportada</label>
                    <input type="number" required="required" min="0.0" [(ngModel)]="newSelled"
                    name="newSelled" id="newSelled" class="form-control form-control-alternative" placeholder="0" value="" >
                    <span *ngIf="noValidSelled" class="form-text text-danger">
                      {{noValidSelledMsg}}
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 text-right">
                  <button type="button" class="btn btn-secondary btn-sm" (click)="editSelled=false">Cancelar</button>
                  <button type="submit" class="btn btn-sm btn-primary">
                    <i _ngcontent-usi-c107="" class="fa fa-check"></i>
                    Listo
                  </button>
                </div>
              </div>
              <hr>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" *ngIf="!editSelled"  (click)="closeModal('salesModal')" data-dismiss="modal">Cerrar</button>
          <!-- <button type="button" class="btn btn-primary btn-sm" *ngIf="productSentLst.length!=0 && !editResidue" (click)="SaveBranchCashControl('R',$event.target)">Guardar cambios</button> -->
        </div>
      </div>
    </div>
  </div>

   <!-- Modal Detalle Saldo -->
   <div class="modal" id="residueModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Saldo en sucursal {{branchName}} el {{dateOfCapture | date: 'EEEE, d MMM, y'}}</h5>
          <button type="button" class="close" (click)="closeModal('residueModal')" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span *ngIf="productSentLst.length==0" >No hay registros para mostrar</span>

          <div class="table-responsive" *ngIf="productSentLst.length!=0 && !editResidue" >
            <table class="table align-items-center table-flush">
              <!-- <thead class="thead-light">
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead> -->
              <tfoot>
                <tr class="bg-gray">
                  <td class="text-white">=</td>
                  <td class="text-white"><b>Total Saldo Calculado</b></td>
                  <td class="text-white"><b>{{getTotalResidue() | currency:'MXN'}}</b></td>
                </tr>
                <tr>
                  <td>
                    <i _ngcontent-usi-c107="" class="fa fa-minus"></i>
                  </td>
                  <td>Saldo Reportado</td>
                  <td>{{residue | currency:'MXN'}}</td>
                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="javascript:void(0)" (click)="openEditResidue()">Editar</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr style="background-color: #f6f9fc;">
                  <td>=</td>
                  <td><b>Diferencia</b></td>
                  <td><b>{{(getTotalResidue()-residue) | currency:'MXN'}}</b></td>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td>
                  </td>
                  <td>
                    <span class="mb-0 text-sm">Saldo anterior</span>
                  </td>
                  <td>
                    {{previousResidue | currency:'MXN'}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <i _ngcontent-usi-c107="" class="fa fa-plus"></i>
                  </td>
                  <td>
                    <span class="mb-0 text-sm">Entradas</span>
                  </td>
                  <td>
                    {{calcEntry | currency:'MXN'}}
                  </td>
                </tr>
                <tr>
                  <td style="background-color: #f6f9fc;">
                    <span class="mb-0 text-sm">=</span>
                  </td>
                  <td style="background-color: #f6f9fc;">
                    <b>Total inventario</b>
                  </td>
                  <td style="background-color: #f6f9fc;">
                    <b>
                    {{(previousResidue + calcEntry) | currency:'MXN'}}
                    </b>
                  </td>
                </tr>
                <tr>
                  <td>
                    <i _ngcontent-usi-c107="" class="fa fa-minus"></i>
                  </td>
                  <td>
                    <span class="mb-0 text-sm">Venta Reportada</span>
                  </td>
                  <td>
                    {{selled | currency:'MXN'}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <form  *ngIf="editResidue" novalidate (ngSubmit)="onSubmitEditResidue(frmResidue)" #frmResidue="ngForm">
            <div class="pl-lg-4">
              <hr>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="select-meat-type">Nuevo Saldo Reportado</label>
                    <input type="number" required="required" min="0.0" [(ngModel)]="newResidue"
                    name="newResidue" id="newResidue" class="form-control form-control-alternative" placeholder="0" value="" >
                    <span *ngIf="noValidResidue" class="form-text text-danger">
                      {{noValidResidueMsg}}
                    </span>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 text-right">
                  <button type="button" class="btn btn-secondary btn-sm" (click)="editResidue=false">Cancelar</button>
                  <button type="submit" class="btn btn-sm btn-primary">
                    <i _ngcontent-usi-c107="" class="fa fa-check"></i>
                    Listo
                  </button>
                </div>
              </div>
              <hr>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" *ngIf="!editResidue"  (click)="closeModal('residueModal')" data-dismiss="modal">Cerrar</button>
          <!-- <button type="button" class="btn btn-primary btn-sm" *ngIf="productSentLst.length!=0">Guardar cambios</button> -->
        </div>
      </div>
    </div>
  </div>

</div>


