<!-- <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" >

  <span class="mask bg-gradient-danger opacity-8"></span>

  <div class="container-fluid d-flex align-items-center">

  </div>
</div> -->
<div class="container-fluid mt-20">
  <div class="row">
    <!-- <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">

      <br>
      <app-kg-by-boxes [product]="product" *ngIf="product.by_boxes=='Y'" (newKgEvent)="updateKgByBoxes($event)"></app-kg-by-boxes>
    </div> -->

    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Agregar sucursal</h3>
            </div>
            <div class="col-4 text-right">
              <a class="btn btn-sm btn-outline-secondary" (click)="sendMessage(false)" >
                <i _ngcontent-usi-c107="" class="fa fa-arrow-left"></i>
                Regresar a la lista
              </a>
            </div>
          </div>
        </div>
        <div class="card-body">

          <form novalidate (ngSubmit)="onSubmit(f)" #f="ngForm" >
            <h6 class="heading-small text-muted mb-4">INFORMACION</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="select-meat-type">Nombre</label>
                    <input type="text" [(ngModel)]="branch.name" name="name" id="name" class="form-control form-control-alternative" placeholder="" value="" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="product">Dirección</label>
                    <input type="text" [(ngModel)]="branch.address" name="adress" id="adress" class="form-control form-control-alternative" placeholder="" value="" >
                    <!-- <select (change)="getProductByPk($event.target.value)" [(ngModel)]="product_sent.id" name="product" id="product" class="form-control form-control-alternative">
                      <option *ngFor="let prod of products" class="dropdown-item" [value]="prod.id">{{prod.description}}</option>
                    </select> -->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="product">Es almacén</label>
                    <!-- <input type="text" [(ngModel)]="branch.is_warehouse" name="adress" id="adress" class="form-control form-control-alternative" placeholder="0" value="" readonly> -->
                    <select [(ngModel)]="branch.is_warehouse" name="is_warehouse" id="is_warehouse" class="form-control form-control-alternative">
                      <option class="dropdown-item" value="Y">SI</option>
                      <option class="dropdown-item" value="N">NO</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">

                </div>
                <div class="col-lg-6 text-right mt-5">
                  <button type="submit" class="btn btn-sm btn-primary" >
                    <i _ngcontent-usi-c107="" class="fa fa-save"></i>
                    Guardar
                  </button>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


